.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 8%;
    max-width: 800px !important;
    justify-content: center;
    text-align: center;
    margin-left: 22% !important;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
.card-list {
    float: none;
    width: 100%;
  }  
}
