.myAudio {}

.btnAudio {
    margin-top: 15px;
    margin-left: 40px;
    min-width: 50px;
    min-height: 50px;
    transform :scale(1.2);
    font-family: cursive;
    font-weight: 500;
    font-style: italic;
    color: rgb(203, 231, 255);
    border-radius: 50%;
    border-color: black; 
/*         //aqua; */
/*     background-color: rgba(15, 20, 20, 0.7); */
    box-shadow: 2px 2px 2px 2px rgba(250, 250, 250, 0.9);
     text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black;
}

.btnAudio:hover {
    transform: scale(1.15);
    box-shadow: 10px 10px 10px  10px rgba(255, 255, 0,1);
}
