.myAudio {}

.btnAudio {
    margin-top: 15px;
    margin-left: 40px;
    min-width: 50px;
    min-height: 50px;

    font-family: cursive;
    font-weight: 500;
    font-style: italic;
    color: rgb(203, 231, 255);
    border-radius: 50%;
    border-color: black; 
/*         //aqua; */
    background-color: rgba(15, 20, 20, 0.7);
    box-shadow: 4px 3px 4px rgba(183, 247, 247, 0.623);
     text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black;
}

.btnAudio:hover {
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(21, 20, 75,1);
}
