.myAudio {}

.btnAudio {
    margin-top: 20px;
      margin-bottom: 20px;
    margin-left: 40px;
    min-width: 40px;
    min-height: 40px;
    transform:scale(2.5);
/*     color: rgb(203, 231, 255); */
    border-radius: 50%;
    border-color: rgba(0,0,0,0.0001); 
/*         //aqua; */
    background-color:rgba(0,0,0,0.0001); 
/*     box-shadow: 1px 1px 2px white; */
/*      text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black; */
}

.btnAudio:hover {
    transform: scale(3);
/*      border-color: rgba(0,0,0,1);  */
/*     box-shadow: 1px 1px 2px yellow; */
    text-shadow: 2px 2px 1px yellow,2px 2px 1px yellow, 2px 2px 1px yellow;
}
