.search-box {
    padding: 10px;
}

.alert1 {
    text-align: center;
    padding: 40px;
    color: black;
    font-size: 50px;
    font-stretch: extra-expanded;
    font-family: 'Bigelow Rules', cursive;
    font-weight: bolder;
    text-shadow: 12px 12px 13px rgba(255, 255, 253, 0.838);
    transform: scale(1.15);
}

.monsters-search-box {
    background-color: rgba(186, 215, 249, 0.874);
    width: 700px;
    height: 30px;
    margin-top: 10;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 30px;
    color: rgb(11, 31, 56);
    font-weight: 800;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: medium;
}