.card-container {
    display: flex;
    flex-direction: column;
    /* background-color:brown; */
    border: 1px solid rgba(0, 0, 0, 0.914);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;

    width: 220px;
    height: 290px;
    cursor: pointer;
    -moz-osx-font-smoothing: "Red", "Orange", "Yellow", "Green", "Blue", "Indigo", "Violet";
    backface-visibility: visible;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: rgba(0, 0, 0, 0.132);
    font-size: small;
    font-family: monospace;
    /* cursive; */

}

.card-container:hover {
    transform: scale(1.1);
    background-color: rgba(200, 190, 200, 0.6);
    box-shadow: 15px 15px 20px 15px rgba(255, 255, 255, 0.9);
}

.card-container p {
    border-radius: 20%;
    background-color: rgba(20, 0, 100, 0.4);

}

/* rgba(249, 200, 109, 0.644); */
