.Bigelow-title {
    font-family: 'Bigelow Rules', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: pink;
    font-stretch: extra-expanded;
     text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black;
}


h2{
    color:pink !important;
    box-shadow: 10px 10px 10px rgba(200, 100, 200, 0.4);
    background-color: rgba(0, 0, 0, 0.99);
}

h4 :hover {
    background-color: rgba(150, 0, 0, 0.97);
}

.headClass {
    height: 20%;
    font-size: large;
    font-weight: 700;
    font-style: italic;

}
