.Bigelow-title {
    font-family: 'Bigelow Rules', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: aliceblue;
    font-stretch: extra-expanded;
}


h4 {
    box-shadow: 24px 14px 16px rgba(241, 139, 223, 0.457);
    background-color: rgba(0, 0, 0, 0.568);
}

h4 :hover {
    background-color: rgba(150, 0, 0, 0.97);
}

.headClass {
    height: 20%;
    font-size: large;
    font-weight: 700;
    font-style: italic;

}